<!-- 
Invoice dynamically rendered into html using handlebars and converted into pdf
using chrome-pdf recipe. The styles are extracted into separate asset for 
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the 
incoming API request.
!-->

<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset Invoice styles.css @encoding=utf8}
        </style>        
    </head>
    <body>
       
        <h1>Test invoice template</h1>
        <table>
            <tr>
                <td>
                    {{for Users}}
                    <c t=""inlineStr><is><t>{{:name}}</t><is></c>
                    <c t=""inlineStr><is><t>{{:Bestscore}}</t><is></c>
                    <c t=""inlineStr><is><t>{{:Numbertargets}}</t><is></c><br>
                    {{/for}}
                </td>
            </tr>
        </table>
               
    </body>
</html>



